@import "~bulma/bulma.sass";

.hero.is-seventy-thirty-height {
  min-height: 70vh;

  @include until(768px) {
    min-height: 100vh;
  }
}

.navbar-burger {
  color: #ffffff;

  span {
    margin: 1px;
  }
}
